In [1]:
print("cov_whole1.py")
import sys
sys.path.append("../dep")
from libs import *

cov_whole1.py

In [2]:
#
filey = covt.covf

In [3]:
#
start = time.time()
with open(filey) as fp:
    count = 0
    for _ in fp:
        count += 1
print("Cov file rows: "+str(count))
end = time.time()
hours, rem = divmod(end-start, 3600)
minutes, seconds = divmod(rem, 60)
print("---> {:0>2}:{:0>2}:{:05.2f}".format(int(hours),int(minutes),seconds))

Cov file rows: 69013790
---> 00:00:25.00

In [4]:
#
start = time.time()
df = dd.read_csv(filey, sep='\t', header=None, dtype={0: 'object', 3: 'float64'})
end = time.time()
hours, rem = divmod(end-start, 3600)
minutes, seconds = divmod(rem, 60)
print("---> {:0>2}:{:0>2}:{:05.2f}".format(int(hours),int(minutes),seconds))
df.tail()

---> 00:00:00.03

                      0      1      2      3  4  5
1501738  NW_024044834.1  35861  35861    0.0  0  1
1501739  NW_024044834.1  35895  35895  100.0  1  0
1501740  NW_024044834.1  36394  36394    0.0  0  1
1501741  NW_024044834.1  36444  36444    0.0  0  1
1501742  NW_024044834.1  36501  36501    0.0  0  1

In [5]:
#
#lo: gene info
#st: position start
#en: position end
#mp: methylation percent
#mc: methylated count
#uc: unmethylated count
df.columns = ['lo', 'st', 'en', 'mp', 'mc', 'uc']
df.tail(3)

                     lo     st     en   mp  mc  uc
1501740  NW_024044834.1  36394  36394  0.0   0   1
1501741  NW_024044834.1  36444  36444  0.0   0   1
1501742  NW_024044834.1  36501  36501  0.0   0   1

In [6]:
#
start = time.time()
dflu = list(df['lo'].unique())
end = time.time()
hours, rem = divmod(end-start, 3600)
minutes, seconds = divmod(rem, 60)
print("---> {:0>2}:{:0>2}:{:05.2f}".format(int(hours),int(minutes),seconds))

---> 00:01:51.39

In [7]:
#
# Estimate: 3 hours
for ii in tqdm.tqdm(dflu):
    sdf = df
    sdf = sdf[sdf['lo']==ii].compute() # rate limiting
    sdf.to_csv('../out0/cov/whole-cov_'+ii+'_exp.csv', index=False)

100%|███████████████████████████████████████| 310/310 [2:56:25<00:00, 34.15s/it]